
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">    
    <div class="panel-heading">实时新闻<a class="more" href="#">更多</a></div>    
    <ul class="list-group">
        <li class="list-group-item"><a href="#">巴基斯坦爆炸已致12遇难</a><span class="more">2016-10-10 09:08:10</span></li>
        <li class="list-group-item"><a href="#">巴基斯坦爆炸已致12遇难</a><span class="more">2016-10-10 09:08:10</span></li>
        <li class="list-group-item"><a href="#">巴基斯坦爆炸已致12遇难</a><span class="more">2016-10-10 09:08:10</span></li>
        <li class="list-group-item"><a href="#">巴基斯坦爆炸已致12遇难</a><span class="more">2016-10-10 09:08:10</span></li>
        <li class="list-group-item"><a href="#">巴基斯坦爆炸已致12遇难</a><span class="more">2016-10-10 09:08:10</span></li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">实时新闻<a class="more" href="#">更多</a></div>
    <ul class="list-group">
        <li class="list-group-item"><a href="#">巴基斯坦爆炸已致12遇难</a><span class="more">2016-10-10 09:08:10</span></li>
        <li class="list-group-item"><a href="#">巴基斯坦爆炸已致12遇难</a><span class="more">2016-10-10 09:08:10</span></li>
        <li class="list-group-item"><a href="#">巴基斯坦爆炸已致12遇难</a><span class="more">2016-10-10 09:08:10</span></li>
        <li class="list-group-item"><a href="#">巴基斯坦爆炸已致12遇难</a><span class="more">2016-10-10 09:08:10</span></li>
        <li class="list-group-item"><a href="#">巴基斯坦爆炸已致12遇难</a><span class="more">2016-10-10 09:08:10</span></li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">实时新闻<a class="more" href="#">更多</a></div>
    <ul class="list-group">
        <li class="list-group-item"><a href="#">巴基斯坦爆炸已致12遇难</a><span class="more">2016-10-10 09:08:10</span></li>
        <li class="list-group-item"><a href="#">巴基斯坦爆炸已致12遇难</a><span class="more">2016-10-10 09:08:10</span></li>
        <li class="list-group-item"><a href="#">巴基斯坦爆炸已致12遇难</a><span class="more">2016-10-10 09:08:10</span></li>
        <li class="list-group-item"><a href="#">巴基斯坦爆炸已致12遇难</a><span class="more">2016-10-10 09:08:10</span></li>
        <li class="list-group-item"><a href="#">巴基斯坦爆炸已致12遇难</a><span class="more">2016-10-10 09:08:10</span></li>
    </ul>
</div>

@section style {
    <style>
        .panel.panel-default {
            font-size:14px;
            width: 50%;
            display: inline-block;
            vertical-align: top;
        }

        .more {
            float: right;
        }
        .panel.panel-default li>a {
            display: inline-block;
            width: 60%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>    
}

